.anchorpane{
    -fx-background-image: url("background/resize.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.pane {
    -fx-background-color: rgba(229,61,0, 0.8);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2;
}
.buttons {
    -fx-background-color: #4056F4;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: white;
}
.buttons:hover {
    -fx-background-color: white;
    -fx-text-fill: #4056F4;
}

.navbar {
    -fx-background-color: #F39B6D;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: linear-gradient(to bottom, #FFFF, #FFFF);
    -fx-border-width: 2;
}

.background {
    -fx-background-color: #F39B6D;
    -fx-border-width: 2;
}

.panels {
    -fx-background-color: #FFFF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
.shadowpanel{
   -fx-background-color: #EEEDEB;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.white-image {

    /* This wil set to white */
    -fx-blend-mode:  overlay;
    -fx-effect: innershadow(gaussian, #FFFFFF, 100, 0, 0, 0);
}
.buttons1:hover {
    -fx-background-color: #FFFFFF;
}
.table-view {
    -fx-background-color: #F39B6D;
    -fx-border-color: #F39B6D;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.table-view .column-header-background {
    -fx-background-color:  #FFFF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

}
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #FFFFFF, #083D77);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}

/* Customize the background color of the second column cells */
.table-view .table-row-cell table-cell {
    -fx-background-color: transparent;
}

.table-row-cell .table-cell {
    -fx-background-color: transparent/* Replace with your desired color */
}
.table-view .table-row-cell:odd {
    -fx-background-color: #F39B6D;
}
.table-view .table-row-cell:even {
    -fx-background-color: #F39B6D;
}
.table-view .table-row-cell:selected {
    -fx-background-color: #F39B6D;
}
.combo-box {
    -fx-background-color: #083D77;
    -fx-border-color: #FFFF;
    -fx-text-fill: #FFFF;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.combo-box .arrow-button {
    -fx-background-color: #083D77;
    -fx-text-fill: #FFFF;
    -fx-border-color: #FFFF;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.combo-box .arrow-button:hover {
    -fx-text-fill: #083D77;
    -fx-background-color: #FFFF;
    -fx-border-color: #F39B6D;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.combo-box .text {
    -fx-fill: #FFFF;
    -fx-background-color: #083D77;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.combo-box .list-cell {
    -fx-text-fill: #FFFF;
    -fx-background-color: #083D77;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.chart {
    -fx-padding: 10px;
}

.chart-plot-background {
    -fx-background-color:  #f3622d;
}

.chart-series-line {
    -fx-stroke: #f3622d;
    -fx-stroke-width: 2px;
}

.axis {
    -fx-tick-label-fill: #4672b4;
    -fx-tick-length: 10;
}

.axis-label {
    -fx-text-fill: #4672b4;
}




